'.platform-darwin':
  'cmd-t': 'jf-fuzzy-finder:toggle-file-finder'
  'cmd-p': 'jf-fuzzy-finder:toggle-file-finder'
  'cmd-b': 'jf-fuzzy-finder:toggle-buffer-finder'
  'cmd-B': 'jf-fuzzy-finder:toggle-git-status-finder'

'.platform-win32':
  'ctrl-t': 'jf-fuzzy-finder:toggle-file-finder'
  'ctrl-p': 'jf-fuzzy-finder:toggle-file-finder'
  'ctrl-b': 'jf-fuzzy-finder:toggle-buffer-finder'
  'ctrl-B': 'jf-fuzzy-finder:toggle-git-status-finder'

'.platform-linux':
  'ctrl-t': 'jf-fuzzy-finder:toggle-file-finder'
  'ctrl-p': 'jf-fuzzy-finder:toggle-file-finder'
  'ctrl-b': 'jf-fuzzy-finder:toggle-buffer-finder'
  'ctrl-B': 'jf-fuzzy-finder:toggle-git-status-finder'

'.fuzzy-finder atom-text-editor[mini]':
  'shift-enter': 'jf-fuzzy-finder:invert-confirm'
